@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif;
    /* overflow: hidden; */
}

.parent {
    background-color: rgba(249, 249, 249, 0.2);
}

.child {
    color: rgba(249, 249, 249, 1);
}

/* .movies .trending .swiper-button-prev,
.movies .trending .swiper-button-next {
  background-color: white;
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  border-radius: 50%;
  box-sizing: border-box;
} */

.movies .trending .swiper-button-prev::after,
.movies .trending .swiper-button-next::after {
  content: "";
}

.movies .trending .swiper-button-prev {
    background-image: url("./assets/imgs/prevbtn.svg");
    background-size: contain;
    background-position: 50% 60%;
    width: 50px;
    background-repeat: no-repeat;

}

.movies .trending .swiper-button-next {
    background-image: url("./assets/imgs/nextbtn.svg");
    background-size: contain;
    background-position: 50% 60%;
    width: 50px;
    background-repeat: no-repeat;

}

.movies .trending .swiper-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    background-color: rgba(249, 249, 249, 0.2);
    border-radius: 5px;
    height: 25px;
    margin-bottom: 20px;
}

.movies .trending .swiper-pagination-bullet {
    background-color: rgba(249, 249, 249, 1);
    width: 10px;
    height: 10px;
}
.movies .trending .swiper-pagination-bullet-active {
    background-color: #00B9AE;
    width: 10px;
    height: 10px;
}
